body {
  max-width: 100%;
}
h1 {
  color: red;
 font-size: 50px;
    font-family: serif;
    background-color: antiquewhite;
    height: 80px;
    margin-top: 50px;
    margin-bottom: 0px;
 }
 /*フォント名にスペースがある場合は、ダブルクォーテーションで囲みます。*/
 img {
    height: 300px;
    width: 229px;
  padding-left: 0px;
 }
 .selected {
    color: red;
 }

 .header {
    background-color:rgb(247, 160, 203);
    height: 50px;
    
    position: fixed;
    top: 0px;
    z-index: 10;
    
  }
 .logo1 {
    font-size: 30px;
    font-family: serif;
    /*padding-top,bottom,right,leftもある*/
    float:left;
    color:aliceblue;
    padding-left: 10px;

 }
    .header-list li{
       font-size: 10px;
       float: right;
       list-style: none;
       color:aliceblue;
       padding-right: 25px;
    }
 .main {
    background-color: aliceblue;
    margin-top: 50px;
    }
 .section-title {
    border-bottom: 2px solid #dee7ec;
    margin-top: 10px;
    margin-bottom: 20px;
 }
 .contact-form p {
    font-size: 10px;
 }
    span {
       color:rgb(247, 160, 203);
    }
 .contact-submit {
    width: 166px;
 }
 .footer {
    background-color: rgba(247, 160, 204, 0.905);
    height: 95px;
    padding-left: 10px; 
 
 }
 .footer-logo {
    color:aliceblue;
    font-size: 30px;
    font-family: serif;
    padding-left: 10px;
    float: left;
    }
 .footer-list {
    color:aliceblue;
    font-size: 13px;
    float: right; 
    padding-top: 8px;
    padding-right: 14px;
 }
 .footer-list li{
    list-style: none;
 
 }
